<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="./js/vue.js" ></script>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
  <div id="app">
    <table class="grid">
      <td class="column left">
        <table class="board" align="center">
          <tr class="row" v-for="row in table">
            <td class="cell" v-for="cell in row"
               @click="place(cell)"
               :class="{c1:cell.amount==1, c2:cell.amount==2, c3:cell.amount==3, c4:cell.amount==4}">
              <div class="atom" v-for="_ in cell.amount"
               :style="{background:cell.color}"></div>
            </td>
          </tr>
        </table>
      </td>
      <td class="column right">
      	<div class="players list">
          <div v-for="player in players" class="player" :class="{active:player===currentPlayer}">
            <div class="dot" :style="{background:player.color}"></div>
            <div class="name" v-text="player.name" :style="{color:player.color}"></div>
          </div>
        </div>
      </td>
    </table>
  </div>
	<script type="text/javascript" src="./js/app.js" ></script>
</body>
</html>